li a {
    color: green;
}

#regForm{
    z-index:1000;
}

.someRating{
    background-color: #E6E6E6;
    font-size: 13px;
    width: 100%;   
    height: 80px;
    border-top:1px solid #B2B2B2;
    margin: 5px;
    padding: 5px;
}
.pubTime{
    font-size: 12px;
    float:right;
}

.username{
    margin-left: 15px;
}

.starHolder{      
    float:right;
    margin-top: -30px;
    height: 20px;    
    width: 85px;    
}
.navbar-inverse .navbar-inner {
    background-image: linear-gradient(to bottom, #1D7B8D, #1A0808);
}

.coverHolder{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#paginationHolder{
    text-align: center;
}