<!DOCTYPE html>
<html>
    <head>
        <title>MusicLab</title>
        {% load staticfiles %}
        {% block import%}        
        <link href="{% static 'music/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'music/css/bootstrap-responsive.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'music/css/jquery.rating.css' %}">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'music/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'music/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'music/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'music/ico/apple-touch-icon-57-precomposed.png' %}">
        <link rel="shortcut icon" href="{% static 'music/ico/favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
        {% endblock import %}
    </head>
    <body>
        {% block headbar%}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{% url 'music:index' %}">MusicLab</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="{% url 'music:index' %}">Home</a></li>
                            <li><a href="{% url 'music:best_view' %}">Top 10</a></li>
                        </ul>
                        <form class="navbar-form pull-right" id="loginForm">
                            {% csrf_token %}
                            <input class="span2" type="text" placeholder="Login" name="login" id='loginHolder'>
                            <input class="span2" type="password" placeholder="Password" name="password" >
                            <button type="button" class="btn btn-success" id="loginButton">Login</button>
                            <a href="#myModal" id="regButton" role="button" class="btn" data-toggle="modal">Register</a>
                        </form>
                        <form id="logoutForm" hidden>
                            {% csrf_token %}
                        </form>
                        <div id = "userHolder" class="navbar-form pull-right" hidden><a  href= "{% url 'music:user_view' %}" class="btn btn-primary" id="userButton"><i class="icon-user icon-white"></i> {{ sesUser.username }}</a> <button class="btn" id="logoutButton">Logout</button></div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock headbar%}
        <div class="container">
            
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                {% block search %}
                <div id="serachHolder" style="float:right;">
                    <form class="form-search" method="GET" action="{% url 'music:search_view' %}">
                        <input type="text" class="input-large search-query" name="search_text">
                        <button type="submit" class="btn">Найти</button>
                    </form>
                </div>
                {% endblock search %}
                {% block content%}
                {% endblock content%}
            </div>

            {% block footercontent %}

            {% endblock footercontent %}

            <hr>
            <div id="hideModel" hidden="hidden">
                <div class="modal" id="modelRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Registration</h3>
                    </div>
                    <div class="modal-body">
                        <form id="regForm" class="form-horizontal">

                            {% csrf_token %}
                            <div class="control-group" id="emailGroup"> 
                                <label class="control-label" for="email">E-mail</label>                            
                                <div class="controls">
                                    <input type="text" name="email" id="email">

                                </div>
                            </div>
                            <div class="control-group" id="nickGroup"> 
                                <label class="control-label" for="nick" >Nickname</label>
                                <div class="controls">
                                    <input type="text" name="nickname" id="nick" >
                                </div>
                            </div>
                            <div class="control-group" id="passGroup"> 
                                <label class="control-label" for="pass">Password</label>
                                <div class="controls">
                                    <input type="password" name="password" id="pass">
                                </div>
                            </div>
                            <div class="control-group" id="rePassGroup"> 
                                <label class="control-label" for="rePass">Password</label>
                                <div class="controls">
                                    <input type="password" name="rePassword" id="rePass">
                                </div>
                            </div>
                            
                            <div class="control-group" id="avaGroup" hidden>  
                                <label class="control-label" for="ava" >Link to avatar</label>
                                <div class="controls">
                                    <input type="text" name="avatar" id="ava" value='default'>
                                </div>
                            </div> 
                        </form>

                        <div id = "errorRegister" class="alert alert-error" hidden>
                            Registration Error!
                            <div id="errorMessage">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true" id="cancelButton">Cancel</button>
                        <button class="btn btn-primary" id="doRegButton">Register</button>
                    </div>
                </div>
            </div>
            <footer>
                <p>&copy; Company 2012</p>
            </footer>
     
        </div>
     
    </body>
    <!-- Dynamic element -->
    {% block element_srcipt%}
    <script>
        var LOGIN_BUTTON = "#loginButton";
        var LOGIN_FORM = "#loginForm";
        var REG_BUTTON = "#regButton";
        var REG_FORM = "#regForm";
        var CANCEL_BUTTON = "#cancelButton";
        var DO_REG_BUTTON = "#doRegButton";
        var MODAL = "#grayGround";

        var USER_HOLDER = "#userHolder";
        var LOGOUT_BUTTON = "#logoutButton";
        var LOGOUT_FORM = "#logoutForm";
        var USER_BUTTON = "#userButton";
        var login_addres = "{% url 'music:login_view' %}";
        var reg_addres = "{% url 'music:register' %}";
        var logout_addres = "{% url 'music:logout_view' %}";
        var vote_addres = "{% url 'music:vote' %}";
        var USERNAME = "{{ user.username }}";
    </script>
    {% endblock element_srcipt%}

    {% block libs_script%}
    <!-- LIBs -->
    <script src="{% static 'music/js/jquery.js' %}"></script>
    <script src="{% static 'music/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'music/js/lib/jquery.rating.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'music/js/Base.js' %}"></script>
    <script type="text/javascript" src="{% static 'music/js/lib/namespace.js' %}"></script>
    <script type="text/javascript" src="{% static 'music/js/util/Util.js' %}"></script>
    
    {% endblock libs_script%}    

    {% block page_script%}    
    {% endblock page_script%}
    
    {% block afterscript %}
    <script type="text/javascript" src="{% static 'music/js/indexApp.js' %}"></script>
    <script type="text/javascript" src="{% static 'music/js/indexApp/Controller.js' %}"></script>
    {% endblock %}
</html>
