{% extends "music/base.html" %}
{% block content %}
{% load staticfiles %}
<!-- List of best songs -->

<div class="row">
    {% if best %}
        <h3> Top 10 Songs</h3>    
        {% for song in best %}
        <div class="span5">
            <div style="margin: 10px;">
                <img src="{{ song.picture }}" class="coverHolder" width="130"  style="float:left; margin-right: 10px;">
                {{ song }} <br>{{song.album}}<br>
                <span class="rateHolder">{{ song.average }}</span><br>
                <div style="font-size:14px;line-height:90%">
                    </div>
                <a class="btn btn-info" href="{% url 'music:detail' song.id %}">Rate!</a>
            </div>
        </div>
        {% endfor %}
            {% else %}
                <p>Sorry, all songs is lame :(</p>
        {% endif %}
</div>
{% endblock content %}