{% extends "music/base.html" %}
{% block content %}
{% load staticfiles %}

<!-- List of comments -->

<h3><a href="{% url 'music:detail' song.id %}">{{ song }}</a></h3>
Total comments: {{count}} <br>
<!-- <div class="pagination" id="paginationHolder"></div> -->
<div class="row">
    <h3> All marks</h3>
   
        <div id="commentHolder" >
        </div>
    
</div>

{% endblock content %}

{% block page_script%}    
<script>
    var comments_list_adress = "{% url 'music:comments_list' %}";
    var SONG_ID = "{{ song.id }}";
    var NOT_FORBIDDEN = "{% csrf_token %}";
</script>
<script type="text/javascript" src="{% static 'music/js/commentsApp.js' %}"></script>
<script type="text/javascript" src="{% static 'music/js/commentsApp/CommentsController.js' %}"></script>
{% endblock page_script%}