{% extends "music/base.html" %}
{% block content %}
{% load staticfiles %}
<!-- SONG DETAILS -->
<div style="display: table; width: 100%" >
    <img class="coverHolder" src="{{song.picture}}" width="250px"  style="float: left; margin-right: 10px;">
    <div><h1 class="songTitle">{{ song.artist}} - {{ song.title}}</h1>
        <h2>{{ song.album}}</h2>
        <p><span id="averageHolder">{{average}}</span></p>

        <!-- PLAYER START -->
        <div id="musicHolder" style="clear: both; width:420px; margin: 0px auto;">

            <div id="jquery_jplayer_1" class="jp-jplayer" ></div>
            <div id="jp_container_1" class="jp-audio">
                <div class="jp-type-single">
                    <div class="jp-gui jp-interface">
                        <ul class="jp-controls">
                            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                        </ul>
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                        <div class="jp-time-holder">
                            <div class="jp-current-time"></div>
                            <div class="jp-duration"></div>
                            <ul class="jp-toggles">
                                <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                                <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="jp-title">
                        <ul>
                            <li>{{ song }}</li>
                        </ul>
                    </div>
                    <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>
            </div>
        </div>
        <!-- PLAYER END -->
    </div>
</div>


<!-- User's comment if exist -->
{% if user_mark  %}
<div id="userComment">
    <h3>Your mark for this song: </h3>
    {% for umark in user_mark  %}
    {{ umark.user.username}}
    <div style="width:350px;">
        <div class="someRating" >
            <span id="userComment">{{ umark.comment}}</span>        
        </div>
        <div class="starHolder"><span class="rateMe" id="userMark">{{ umark.mark}}</span></div>
    </div>
    {% endfor%}
</div>
{% endif %} 

<!-- Messages -->
<div class="alert alert-info" id="thankYou" style="margin:10px;" hidden>Thank you! Your vote has been counted.</div>
<div class="alert alert-info" id="dublicate" style="margin:10px;" hidden>If you wanna chage your mark, press button: <button class="btn" id="remarkButton">Remark!</button></div>

<!-- User's rate -->
<div id="userRate" style="margin-top: 20px;">
    {% if error_messager%}
    <div id = "error_message">{{error_message}}</div>
    {% endif %}

    <!-- Token and data -->
    <form id="rateFormHidden" hidden>
        {% csrf_token %}
        <input type="text" value="3" id="hiddenMark" name="userMark">
        <input type="text" value="0" id="hiddenSong" name="song_id">
        <textarea id="hiddenComment" rows="3" name="userComment"></textarea>
    </form>

    <form id="rateForm" method="POST">                    
        <h4  for="uesrMark">Your mark:</h4>
        <input type="radio" name="mark" value="1" class="star"/>
        <input type="radio" name="mark" value="2" class="star"/>
        <input type="radio" name="mark" value="3" class="star" checked="checked"/>
        <input type="radio" name="mark" value="4" class="star"/>
        <input type="radio" name="mark" value="5" class="star"/>
        <br>
        <h4  for="uesrMark">Your comment:</h4>
        <textarea id="userCommecnt" rows="3" name="userComment"></textarea>
        <br><input type="submit" value="Rate!" id="rateButton" class="btn btn-success"/>
    </form>
</div>

<hr>
<div class="alert alert-info" id="loginPlease" style="margin:10px;">You have to log to rate songs</div>
<!-- List of coments in fancy style, if comment exist-->
{% if song.mark_set.count > 0 %}
<p><a href="./comments">All comments for this sone</a></p>
<div class="row">
    {% for mark in song.mark_set.all|slice:":6" %}
    <div class="span4"><span class="username">{{ mark.user.username}}</span> <span class="pubTime">{{ mark.pub_date}}</span>
        <div class="someRating">{{ mark.comment}}<br>        
        </div>
        <div class="starHolder"> <span class="rateMe" >{{ mark.mark}}</span></div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No marks for this song. Be first!</p>
{% endif %}
{% endblock content %}

{% block page_script%}
<script>
    var RATE_BUTTON = "#rateButton";
    var AVERAGE_HOLDER = "#averageHolder";
    var SONG_ID = "{{song.id}}";
    var USERMARK = "{{user_mark}}";
    var swfPathStatic = "{% static 'music/js/jplayer/' %}";
</script>
<link type="text/css" href="{% static 'music/js/jplayer/skin/jplayer.blue.monday.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'music/js/jplayer/jquery.jplayer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'music/js/detailApp.js' %}"></script>
<script type="text/javascript" src="{% static 'music/js/detailApp/DetailController.js' %}"></script>
{% endblock page_script%}
