{% extends "music/base.html" %}
{% block content %}
{% load staticfiles %}
<h2>Recently rated songs:</h2>

<div class="row">
    {% if latest_mark_list %}
    {% for mark in latest_mark_list %}
    <div class="span5">
        <div style="margin: 10px;">
            <img src="{{ mark.song.picture }}" class="coverHolder" width="140"  style="float:left; margin-right: 10px;">
            {{ mark.song }} <br>{{mark.song.album}}<br>          
            <span class="rateHolder">{{ mark.mark }}</span><br>
            <div style="font-size:14px;line-height:90%">
                <p>by {{ mark.user.username }}</p> </div>

            <a class="btn btn-info" href="{% url 'music:detail' mark.song.id %}">Rate!</a>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <p>No songs are available.</p>
    {% endif %}

</div>
{% endblock content %}
{% block footercontent %}

<!-- Example row of columns -->
<div class="row">
    <h2>Recently added songs:</h2>
    {% if latest_song_list %}

    {% for song in latest_song_list %}
    <div class="span4" style="margin-top:20px; ">
        <img src="{{song.picture}}" class="coverHolder"  width="125px" style='float:left; margin-right: 5px'>
        <h5>{{song}}</h5>

        <p>{{song.album}}<br>
            <span class="rateHolder">{{ song.average}}</span>
        </p>
        <br>
        <p><a class="btn btn-info" href="/mus/{{ song.id }}/">Rate!</a></p>
    </div>
    {% endfor %}

    {% else %}
    <p>No songs are available.</p>
    {% endif %}

</div>

{% endblock footercontent %}


</html>
