{% extends "music/base.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">                    
    {% if song_title_list %}
    <h3> By title</h3>
    {% for song in song_title_list %}
    <div class="span4">
        <div >
            <img src="{{ song.picture }}" width="145px" style="float:left; margin-right: 10px;">

            <h4>{{ song }} <br></h4>

            <p><a class="btn btn-info" href="{% url 'music:detail' song.id %}">Rate!</a></p>

        </div>
    </div>
    {% endfor %}

    {% else %}

    {% endif %}
</div>


<div class="row">                    
    {% if song_artist_list %}
    <h3> By artist</h3>
    {% for song in song_artist_list %}
    <div class="span4">
        <div >
            <img src="{{ song.picture }}" width="145px" style="float:left; margin-right: 10px;">

            <h4>{{ song }} <br></h4>

            <p><a class="btn btn-info" href="{% url 'music:detail' song.id %}">Rate!</a></p>

        </div>
    </div>
    {% endfor %}

    {% else %}

    {% endif %}
</div>


<div class="row">                    
    {% if song_album_list %}
    <h3> By album</h3>
    {% for song in song_album_list %}
    <div class="span4">
        <div >
            <img src="{{ song.picture }}" width="145px" style="float:left; margin-right: 10px;">

            <h4>{{ song }} <br></h4>

            <p><a class="btn btn-info" href="{% url 'music:detail' song.id %}">Rate!</a></p>

        </div>
    </div>
    {% endfor %}

    {% else %}

    {% endif %}
</div>
{% endblock content%}