{% extends "music/base.html" %}
{% load staticfiles %}
{% block search %}
{% endblock search %}
{% block content %}

<div class="row" style="background:#E6E6E6; padding: 10px;  border:1px solid #B2B2B2;">
    <h2>Profile  {{ user.username }}</h2>    
    <div>Firs name:         
        <span id="userFNameHolder">{{ user.first_name }}</span><a href="#" id="editFirstName">[edit]</a>
        <form id="firstName">
            {% csrf_token %}
            <div  id="firstNameEdior" hidden><input type="text" name="first_name" ><button class="btn" id="doneFirstName">Done</button>     
            </div>
        </form>
    </div>

    <div>Last name:
        <span id="userLNameHolder">{{ user.last_name }} </span>
        <a href="#" id="editSecondName">[edit]</a>
        <form id="lastName">
            {% csrf_token %}
            <div id="secondNameEdior" hidden><input type="text" name="last_name" >
                <button class="btn" id="doneLastName">Done</button>
            </div>
        </form>

    </div>

    <div>E-mail:
        <span id="emailHolder">{{ user.email }} </span><a href="#" id="editEmail">[edit]</a>
        <form id="email">
            {% csrf_token %}
            <div id="emailEdior" hidden><input type="text" name="email"><button  class="btn" id="doneEmail">Done</button>
            </div>
        </form>
    </div>
    
    <div>Joined: {{user.date_joined}}
        
    </div>

</div>
<div id = "userButtons" style="margin-top:20px">
    <button class="btn btn-inverse">Top 10</button> <button class="btn btn-inverse">Bottom 10</button> <button class="btn btn-inverse">Last marks</button>
</div>


<div class="row">
    <h2>Last marks:</h2>
    {% if mark_list %}
    {% for mark in mark_list %}
    <div class="span5">
        <div style="margin: 5px;">
            <img src="{{ mark.song.picture }}" class="coverHolder"  width="145px" style="float:left; margin-right: 10px;">
            {{ mark.song }} <br>{{mark.song.album}}<br>          
            <span class="rateHolder">{{ mark.mark }}</span>
            <br>
            <div style="font-size:14px;line-height:90%"><p>{{ mark.user.username }}:
                    {{ mark.comment }}</p></div>
            <a class="btn btn-info" href="{% url 'music:detail' mark.song.id %}">Rate!</a>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <p>No songs are available.</p>
    {% endif %}
</div>

{% endblock content %}
{% block page_script%}
<script>
    var edit_user_adress = "{% url 'music:edit_user' %}";
</script>
<script type="text/javascript" src="{% static 'music/js/userApp.js' %}"></script>
<script type="text/javascript" src="{% static 'music/js/userApp/UserController.js' %}"></script>
{% endblock page_script%}